name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
  
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v
    - name: docker login
      env:
        DOCKER USER: $((secrets.DOCKER USER))
        DOCKER_PASSWORD: $({secrets.DOCKER_PASSWORD))
      run:
        docker login -U SDOCKER _USER -P $DOCKER_PASSWORD
    - name: Build the Docker image
      run: docker build . -file Dockerfile --tag chamodshehanka/node-test:$(date +%s)
    - name: Docker Push
      run: docker push $((secrets.DOCKER USER))/YOUR DOCKER HUB REPO NAME
      
